@import "../components/star-rating";
@import "../components/modals";


.product-page {
  overflow: unset;

  &__inner {
    @include row-flex();
    @include adaptiv-value('padding-top', 70, 0, 1);
  }

  &__main {
    @include col();
    @include size(8);
    @include size-lg(7);
    @include size-sm(12);

    @media screen and (min-width: $medium + 1) {
      position: sticky;
      top: 0;
      align-self: flex-start
    }
  }

  &__aside {
    @include col();
    @include size(4);
    @include size-lg(5);
    @include size-sm(12);
  }

  &__actions {
    @include adaptiv-value('margin-bottom', 20, 10, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;

    .site-link {
      display: inline-flex;
      align-items: center;

      &:before {
        content: '';
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background-size: contain;
        background-position: center;
        // background-image: url("../../img/icons/list-icon.jpg");
        background-repeat: no-repeat;
        margin-right: 5px;
      }
    }
  }

  &__actions-item {
    cursor: pointer;
  }

  &__actions-link {
    margin: 10px;
  }

  &__discount {
    @include adaptiv-value('margin-bottom', 20, 10, 1);
  }

  &__orientation {
    @include adaptiv-value('margin-bottom', 20, 10, 1);
  }

  &__modal-btn {
    width: 100%;
    padding: 10px;
    max-width: 290px;
    margin: 0 auto;
    @include adaptiv-value('margin-bottom', 40, 20, 1);
  }

}

.sliders-block {
  &__top {
    margin-bottom: 20px;
  }

  &__bottom {
    @include adaptiv-value('margin-bottom', 40, 20, 1);
  }
}

.bottom-carousel {

  &__item {
    cursor: pointer;
  }

  .splide--nav>.splide__track>.splide__list>.splide__slide {
    border: none;
  }
}

.video-block {
  @include adaptiv-value('margin-bottom', 54, 30, 1);
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
  }
}

.similar {
  @include adaptiv-value('margin-bottom', 49, 30, 1);

  .product-card {
    width: 100%;

    &__title {
      margin-bottom: 0;
    }
  }

  .splide__pagination {
    @extend .pagination;
  }

  .splide__arrow {
    margin-top: -2em;
  }

  .splide__arrow--prev {
    left: -0.5em
  }

  .splide__arrow--next {
    right: -0.5em
  }

}

.collections-block {
  @include adaptiv-value('margin-bottom', 49, 30, 1);

  .product-card {
    width: 100%;

    &__title {
      margin-bottom: 0;
    }
  }

  .splide__arrow {
    margin-top: -3em;
  }

  .splide__arrow--prev {
    left: -0.5em
  }

  .splide__arrow--next {
    right: -0.5em
  }

  .splide__pagination {
    @extend .pagination;
  }

}

.product-details {
  margin-bottom: 10px;

  &__title {
    @include adaptiv-value('font-size', 24, 18, 1);
    margin-bottom: 5px;
    line-height: 1.1;
  }

  &__rating {
    margin-bottom: 10px;
  }

  &__summary {
    font-size: 12px;
    line-height: 1.2;
  }

  &__price {
    @include adaptiv-value('font-size', 18, 12, 1);
    display: inline-block;
    color: $red;
    margin-bottom: 0.2em;
  }

  &__cat {
    margin-bottom: 0.5em;
  }

  &__credit {
    color: $grey;
  }

  @media screen and (max-width: $small) {
    padding-top: 15px;
  }
}

.product-configs {
  @include adaptiv-value('padding-bottom', 20, 15, 1);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $midgrey;

  &__title {
    @include adaptiv-value('font-size', 15, 12, 1);
    margin-bottom: 10px;
  }

  &__list {
    @include adaptiv-value('margin-bottom', 20, 10, 1);
    display: grid;
    gap: 5px;

    li {
      transition: all 0.3s ease;
      border-radius: 5px;
      border: 1px solid $midgrey;
      padding: 10px;

      &:hover {
        border: 1px solid $accent;
      }
    }
  }

  &__expand {
    @include adaptiv-value('font-size', 16, 14, 1);
    display: inline-block;
    padding: 0.5em 0.6em;
    border: 1px solid $midgrey;
    align-self: center;
    cursor: pointer;
    transition: backcground-color 0.3s;

    &:hover {
      background-color: $lightgrey;
    }
  }
}

.product-configs__list.collapsed {
  li:not(:last-child) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
  }
}

.item-conf {
  display: flex;
  font-size: 11px;
  align-items: center;

  &__image {
    flex: 0 0 90px;
    height: 45px;
    margin-right: 20px;
    object-fit: contain
  }

  &__descr {
    margin-right: 10px;
    color: $grey;
  }

  &__title {
    color: #000;
  }

  &__measurments {}

  &__price {
    margin-left: auto;
    align-self: center;
    font-size: 14px;
  }

}

.configurator {
  margin-bottom: 30px;

  &__categories,
  &__cloth {
    border-bottom: 1px solid $midgrey;
  }

  &__cloth {
    .choose-buttons__item {
      padding: 20px 0;
    }
  }

  &__textiles {
    padding: 20px 0;
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $medium) {
      justify-content: flex-start;
    }

    .btn-rounded {
      margin: 5px;
      min-width: 100px;

      @media screen and (max-width: $medium) {
        width: calc(33.333% - 10px);
      }

      @media screen and (max-width: 840px) {
        width: calc(50% - 10px);
      }
    }



  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;

    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px;
      flex: 0 0 46px;
      height: 46px;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 2px;


      &::after {
        content: "✓";
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        margin: auto;
        font-size: 20px;
        opacity: 0;
      }

      &:hover {
        border: 1px solid $black;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.choose-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: $grey;

  &__item {
    position: relative;
    padding: 17px 0;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 14px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: #000
    }

    &.current {
      color: #000;

      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $accent;
      }
    }
  }
}

.discount-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background-color: $latte;

  &__text {
    font-size: 13px;

    span {
      font-size: 9px;
    }
  }
}

.props {
  &__title {
    margin-bottom: 0.5em;
  }

  &__table {
    padding: 15px 10px;
    border-bottom: 1px solid $midgrey;
    border-top: 1px solid $midgrey;
    vertical-align: baseline;

    td:last-child {
      text-align: right;
    }

    @media screen and (max-width: $small) {
      width: 100%;
    }
  }
}

.feedback {

  &__title {
    margin-bottom: 0.4em;
  }

  &__rating {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    border-bottom: 1px solid $midgrey;

    &:last-child {
      border-bottom: none;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px;
  }
}



.item-fdbck {

  &__pics {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(2, 85px);
    gap: 5px;
    place-items: center;

    @media screen and (max-width: 395px) {
      grid-template-columns: repeat(4, 65px);
      grid-template-rows: repeat(2, 65px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    img:first-child {
      grid-column: span 2;
      grid-row: span 2;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba($accent, 0.3);
      color: $accent;
    }
  }

  &__body {
    @include adaptiv-value('padding-top', 27, 10, 1);
    @include adaptiv-value('padding-bottom', 30, 20, 1);
    display: flex;
  }

  &__user {
    flex: 0 0 80px;
    margin-right: 10px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__city {
    font-size: 10px;
    color: #6e6e6e;
  }

  &__topline {
    @include adaptiv-value('margin-bottom', 14, 8, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__time {
    font-size: 10px;
  }

  &__title {
    color: #6e6e6e;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    @include adaptiv-value('margin-bottom', 17, 9, 1);

  }

  &__descr {
    font-size: 10px;
    line-height: 1.6;
  }

}