 .color-checkboxes {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row-reverse;
     align-items: center;
     margin-top: 20px;
     max-width: 300px;

     &__item {
         position: relative;
         width: 34px;
         height: 25px;
     }

     .check {
         display: block;
         //  padding-left: 28px;
         cursor: pointer;

         &__input {
             position: absolute;
             appearance: none;
             opacity: 0;
             visibility: hidden;
         }

         &__box {
             position: absolute;
             width: 18px;
             height: 18px;
             margin-left: -25px;
             border-radius: 50%;
         }

     }

     // checked
     .check__input:checked+.check__box {
         outline: 2px solid $accent;
         outline-offset: 2px;
     }

     //focus
     .check__input:focus+.check__box {
         outline: 2px solid $accent;
     }

     //disabled
     .check__input:disabled+.check__box {
         opacity: 0.3;
     }
 }