.footer {
  font-size: 12px;

  &__inner {
    @include adaptiv-value('padding-top', 46, 35, 1);
    @include adaptiv-value('padding-bottom', 72, 35, 1);
    @include row-flex();
    border-bottom: 1px solid $midgrey;
  }

  &__column {
    @include col();
    @include size(2);
    @include size-sm(12);
  }

  &__info {
    @include col();
    @include size(4);
    @include size-sm(12);
    text-align: center;

    @media screen and (max-width: $small) {
      order: -1;
    }
  }


  &__actions {
    @include row-flex();

    @media screen and (max-width: $large) {
      margin-bottom: 40px;
    }
  }

  &__action {
    @include col();
    @include size(6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
      flex: 0 0 20px;
      height: 20px;
    }
  }

  &__action-icon {
    @include adaptiv-value('margin-bottom', 18, 10, 1);
    flex: 0 0 20px;
    height: 20px;


    img {
      object-fit: none;
      object-position: center;
    }
  }

  &__bottom {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__bottom-list {
    margin-right: 20px;

    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &__socials {
    margin-left: auto;

    @media screen and (max-width: $medium) {
      margin: 0 auto;
    }
  }
}

.column-footer {
  font-weight: 500;

  &__item {
    @media screen and (max-width: $small) {
      padding-left: 15px;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @media screen and (max-width: $small) {
      position: relative;
      padding: 10px 0;
      margin-bottom: 0;
      width: 100%;
      text-align: left;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url("../../img/icons/next.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform 0.3s;
        opacity: 0.8;
      }
    }

    &._active {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &__list {
    @media screen and (max-width: $medium) {
      padding-bottom: 10px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.note-footer {
  &__title {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__time {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
  }


}

.bottom-list {
  display: flex;
  align-items: center;

  li:not(:last-child) {
    margin-right: 30px;
  }

  &__link {}
}

.socials {
  display: flex;

  li {
    display: grid;
    place-items: center;

    &:not(:last-child) {
      margin-right: 20px;
    }

  }

  &__item {
    display: block;
    height: 30px;

    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &_yt {}

    &_ig {
      max-height: 24px;
    }
  }
}