.header {
  color: #fff;
  background-color: #fff;
  transition: box-shadow 0.3s, border-bottom 0.3s;
  border-bottom: 1px solid $midgrey;

  &__topline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    background-color: $accent;

    &:after {
      content: "";
      display: block;
      background-color: $lightgrey;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid $midgrey;
      border-top: 1px solid $midgrey;

      @media screen and (max-width: $medium) {
        height: 20px;
      }

      @media screen and (max-width: $small) {
        display: none;
      }
    }
  }

  &__topline-container {
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
  }

  &__track {
    width: 100%;
  }

  &__topline-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;

    li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

  }

  &__topline-phone {
    padding: 20px 0 20px 30px;
    background-color: $accent;
    white-space: nowrap;
  }

  &__container {
    @include wrapper();
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    background-color: #fff;
    color: $black;
    font-size: 14px;

    a:hover:not(.ideas-item__link) {
      text-decoration: none;
      color: $accent;
    }
  }

  &__logo {
    flex: 0 0 114px;
    height: 42px;

    @media screen and (max-width: $medium) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__menu {
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    margin-left: auto;
  }

  &__cart,
  &__search {
    width: 40px;
    height: 30px;
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__cart {
    background-image: url("../img/icons/shopping-cart.png");
  }

  &__search {
    background-image: url("../img/icons/loupe.png");
  }

  &__form {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;

    &-body {
      background-color: #fff;
      padding: 0 56px;

      input {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    &-close {
      position: absolute;
      top: 30px;
      right: 35px;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-image: url("../img/icons/close.svg");
      cursor: pointer;
    }
  }

  &__form.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  &__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;

  }

  &__results-list {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-height: calc(100vh - 185px);
    overflow: auto;
    margin-bottom: 20px;
  }

  &__results.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    .product-card {
      width: 100%;

      &__image {
        margin-bottom: 10px;
      }

      &__title {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  box-shadow: 2px 2px 7px rgba(#000, 0.3);
  border-bottom: 1px solid transparent;

  .header__topline {
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
  }
}

.menu {
  &__body {
    @media screen and (max-width: $medium) {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 100px 30px 30px 30px;
      transition: transform 0.4s ease 0s;
      overflow: auto;

      &._active {
        z-index: 10;
        transform: translateY(0);
      }

      &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        z-index: 2;
      }
    }
  }

  &__body-close {
    display: none;

    @media screen and (max-width: $medium) {
      position: absolute;
      z-index: 5;
      display: block;
      top: 30px;
      right: 30px;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/icons/close.svg");
      opacity: 0.7;
    }
  }

  &__list {
    justify-content: space-around;

    >li {
      position: relative;
      margin: 0px 10px;

      @media screen and (min-width: $medium + 1) {
        padding: 10px 0;
      }
    }

    @media screen and (min-width: $medium + 1) {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: $medium) {
      &>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
      }

      &>li:last-child {
        margin-bottom: 0;
      }

      &>li._active .menu__sub-list {
        display: block;
      }
    }

    @media screen and (max-width: $small) {
      &>li {
        flex-wrap: wrap;
        margin: 0;
      }
    }
  }

  &__icon {
    display: none;

    @media screen and (max-width: $medium) {
      z-index: 0;
      display: block;
      position: relative;
      width: 16px;
      height: 16px;
      margin-right: 15px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 2px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: $black;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &._active span {
        transform: scale(0) translate(0px, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }
  }

  &__link {
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $medium) {
      text-align: left;
      font-size: 18px;
    }

    @media screen and (max-width: $small) {
      font-size: 16px;
    }
  }

  &__sub-list {
    position: absolute;
    z-index: 10;
    display: grid;
    column-gap: 55px;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 15px;

    @media (min-width: $medium + 1) {
      transform: translate(0px, 10%);
      opacity: 0;
      min-width: 200px;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s ease 0s;
    }

    @media screen and (max-width: $medium) {
      position: relative;
      background-color: #fff;
      flex: 1 1 100%;
      margin: 20px 0px 0px 0px;
      max-height: 0;
      min-width: unset;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      transition: all 0.3s;
    }

    .with-arrow {
      display: block;
      font-size: 14px;
      margin-bottom: 25px;

      &:after {
        content: url("../img/icons/arrow-menu.png");
        margin-left: 10px;
        vertical-align: middle;
      }
    }

    .with-img {
      &__pic {
        flex: 0 0 50px;
        margin-right: 20px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      .menu__sub-link {
        display: flex;
        align-items: center;
      }
    }

    .with-text {
      font-size: 11px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &_col-1 {
      grid-template-columns: 215px;
    }

    &_col-2 {
      grid-template-columns: repeat(2, 215px);
    }

    &_fullwidth {
      left: 30px;
      right: 30px;
      top: calc(100% - 15px);

      @media screen and (min-width: $medium + 1) {
        padding: 20px 60px;
      }

      @media screen and (max-width: $medium) {
        left: 0;
      }
    }

    >li:not(:last-child) {
      @media screen and (max-width: $medium) {
        margin-bottom: 25px;
      }
    }
  }

  &__sub-list-promos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px;

    @media screen and (max-width: $small) {
      grid-template-columns: auto;
    }
  }

  &__sub-list-ideas {
    display: grid;
    grid-template-columns: clamp(200px, 29vw, 380px) clamp(200px, 29vw, 380px) auto;
    gap: 23px;

    // >li:last-child {
    //   @media screen and (min-width: $medium + 1) {
    //     padding-top: 25px;
    //   }
    // }


    .test {
      @media screen and (min-width: $medium + 1) {
        padding-top: 25px;
      }
    }

    @media screen and (max-width: $medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $small) {
      grid-template-columns: auto;
    }
  }

  &__sub-link {
    color: #000;
  }

  li:not(:first-child) .with-arrow {
    // @media screen and (max-width: $medium) {
    //   margin-top: 25px;
    // }
  }
}

.promo-item {
  img {
    transition: transform 0.2s ease-in;
  }

  &__link {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    padding-bottom: 58%;
  }

  &__label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;

    @media screen and (max-width: $medium) {
      padding: 10px;
    }

    @media screen and (max-width: $small) {
      font-size: 10px;
    }

    &_green {
      background-color: $accent;
    }

    &_red {
      background-color: $teal;
    }
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}

.ideas-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right top, #e6e5e4, #e6e5e4);
    border-image-slice: 2;
  }

  &:hover {
    &:after {
      border-image: linear-gradient(0deg,
          rgba(255, 130, 38, 1) 0%,
          rgba(255, 254, 87, 1) 50%,
          rgba(255, 130, 38, 1) 100%);
      border-image-slice: 2;
    }
  }

  &__link {
    display: block;
    padding-bottom: 60%;
  }

  ._ibg &__img {
    z-index: -2;
    object-fit: contain;
    object-position: bottom right;
  }

  &__label {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: rgba(#fff, 0.6);
    font-size: 11px;

    @media screen and (max-width: $medium) {
      padding: 10px;
    }

    .with-arrow {
      margin: 5px 0;
    }
  }
}

/* ----------------------- */
body._pc .menu__list>li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list>li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  // flex: 1 1 auto;
  flex-basis: calc(100% - 35px);
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-image: url("../img/icons/next.svg");
  transform: rotate(90deg);
}

body._touch .menu__list>li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  max-height: unset;
  overflow: visible;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (max-width: $medium) {
    padding-top: 0;
  }
}

body._touch .menu__list>li._active .menu__arrow {
  transform: rotate(90deg) scaleX(-1);
}