:root {
  --star-size: 15px;
  --star-color: #8f8e8e62;
  --star-background: #fc0;
}

.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-flex;
  align-items: center;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span[data-views] {
    display: inline-flex;
    font-family: Roboto,
      sans-serif;
    font-size: 11px;
    color: $grey;

    &:before {
      content: '('attr(data-views);
    }

    &:after {
      content: ')';
    }
  }


}